node_modules
npm-debug

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Coverage temp directory used by nyc
.nyc_output

# Sonar Scanner temp directory used by SonarQube
.scannerwork

#VS Code
# .vscode/launch.json